/* Minor Resets */
body, div, ul, h1, h2, h3, h4, h5, h6, p{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body{
    background-color: #efefff;
}

h1{
    font-size: 2em;
}

/* Navigation */
nav{
    background-color: #393960;
    height: 85px;
    border-bottom-color: #ffffff;
    border-bottom-style: solid;
    border-bottom-width: 2px;
}

nav a{
    color: #ffffff;
    text-decoration: none;
}

.nav-l{
    float: left;
    margin: 20px 100px;
    font-size: 40px;
}

.nav-r{
    float: right;
    font-size: medium;
    margin: 40px 100px 0px 40px;
}

.nav-r li{
    display: inline-block;
    padding: 0 20px;
}

/* Content */
.main{
    max-width: 850px;
    margin: 50px auto 0 auto;
}

/* Left Column */
.col-l{
    float: left;
    width: 200px;
    background-color: #ffffff;
    padding: 25px;
    border-color: #393960;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.col-l h2{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom-color: #afafcf;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.col-l ul{
    list-style: none;
}

.col-l ul li{
    font-size: large;
    line-height: 30px;
}

.col-l ul li a{
    padding-left: 10px;
    margin-left: 10px;
    color: #000000;
    text-decoration: none;
    border-left-color: #afafcf;
    border-left-style: solid;
    border-left-width: 10px;
    border-radius: 10px;
}

.col-l ul li a:hover{
    color: #6060ff;
    margin-left: 5px;
    border-left-color: #6060ff;
    border-left-width: 15px;
    border-radius: 15px;
}

/* Right Column */
.col-r{
    float: right;
    width: 500px;
    background-color: #ffffff;
    padding: 25px;
    margin-left: 20px;
    border-color: #393960;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.col-r h2{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom-color: #afafcf;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.col-r .page-num{
    color: #ffffff;
    text-decoration: none;
    padding: 5px;
    background-color: #393960;
    border-color: #393960;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.col-r .page-num:hover{
    background-color: #6060ff;
    border-color: #6060ff;
}

.col-r .page-num-current{
    color: #393960;
    text-decoration: none;
    padding: 5px;
    background-color: #cfcfff;
    border-color: #cfcfff;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.listed{
    width: 400px;
    padding-left: 15px;
    padding-top: 5px;
    margin: auto;
    border-left-color: #afafcf;
    border-left-style: solid;
    border-left-width: 15px;
    border-radius: 15px;
}

.listed small{
    float: right;
    font-style: italic;
}

.listed h3{
    padding-bottom: 5px;
}

.listed h3 a{
    color: #000000;
    text-decoration: none;
}

.listed h3 a:hover{
    color: #6060ff;
}

.listed p{
    padding: 10px 0;
}

.listed h6{
    margin-bottom: 10px;
}

.listed .footer{
    float: none;
    padding-left: 20px;
}

/* Primary Centered Content */
.center{
    max-width: 100%;
    background-color: #ffffff;
    padding: 25px;
    border-color: #393960;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.center h2{
    padding-bottom: 10px;
    border-bottom-color: #afafcf;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

.center small{
    float: right;
}

.center p{
    padding: 10px 0;
}

.center .footer{
    float: none;
    padding-left: 20px;
}

/* Smaller Centered Content */
.center-small{
    width: 400px;
    background-color: #ffffff;
    padding: 25px;
    margin: auto;
    border-color: #393960;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.center-small ul{
    text-align: center;
    list-style: none;
}

.center-small li{
    display: inline-block;
}

.center-small a{
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    width: 150px;
    margin: 0 10px;
    background-color: #393960;
    border-color: #393960;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.center-small a:hover{
    display: inline-block;
    background-color: #6060ff;
    border-color: #6060ff;
}

.center-small .delete{
    background-color: #603939;
    border-color: #603939;
}

.center-small .delete:hover{
    background-color: #ff6060;
    border-color: #ff6060;
}

.center-small .delete-submit{
    font-size: medium;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
    width: 150px;
    margin: 0 10px;
    background-color: #603939;
    border-color: #603939;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.center-small .delete-submit:hover{
    background-color: #ff6060;
    border-color: #ff6060;
}

/* Forms */
.center form{
    width: 500px;
    margin: auto;
}

.form-field{
    width: 100%;
    margin-top: 5px;
    border-color: #393960;
    border-width: 1px;
    border-style: solid;
}

.form-field-errors{
    width: 448px;
    border-color: #ff0000;
    border-width: 1px;
    border-style: solid;
}

.error-feedback{
    color: #ff0000;
    font-style: italic;
    font-size: small;
    padding-top: 10px;
}

.error-feedback ul{
    list-style-type: none;
}

.form-submit{
    color: #ffffff;
    background-color: #393960;
    border-color: #393960;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.form-submit:hover{
    background-color: #6060ff;
    border-color: #6060ff;
}

/* Flashed Messages */
.good{
    width: 730px;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: #396039;
    background-color: #afcfaf;
    border-color: #afcfaf;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.neutral{
    width: 730px;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: #606039;
    background-color: #afafcf;
    border-color: #afafcf;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}

.bad{
    width: 730px;
    padding: 10px;
    margin: auto;
    text-align: center;
    color: #603939;
    background-color: #ffafaf;
    border-color: #ff0000;
    border-width: 2px;
    border-style: solid;
    border-radius: 5px;
}
