<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Item Catalog{% if title %} | {{ title }}{% endif %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <nav>
            <div class="nav-l">
                <a href="{{ url_for('main.home') }}">Item Catalog</a>
            </div>
            <div class="nav-r">
                <ul>
                    {% if current_user.is_authenticated %}
                        <li><a href="{{ url_for('items.new_item') }}">New Item</a></li>
                        <li><a href="{{ url_for('main.logout') }}">Log Out</a></li>
                    {% else %}
                        <li><a href="{{ url_for('github.login') }}">Log In with GitHub</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <br>
                    <div class="{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
                <br>
            {% endif %}
        {% endwith %}

        {% block content %}
        {% endblock content %}
    </body>
</html>
