{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <div class="center">
            <h2>Edit "{{ item.name }}"</h2>
            <br>
            <form action="" method="post">
                {{ form.hidden_tag() }}

                {% include 'item_form.html' %}
                <br>
                <br>

                {{ form.submit(class="form-submit") }}
            </form>
        </div>
        <br>
        <div class="center-small">
            <ul>
                <li><a href="{{ url_for('items.item', item_name=item.name ) }}">Return to Item Page</a></li>
            </ul>
        </div>
    </div>
{% endblock content %}
