{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <div class="col-l">
            {% include 'left_column.html' %}
        </div>
        <div class="col-r">
            <h2>Recent Items</h2>
            {% for item in items %}
                <br>
                <div class="listed">
                    <small>{{ item.sport }}, {{ item.category }}</small>
                    <h3><a href="{{ url_for('items.item', item_name=item.name) }}">{{ item.name }}</a></h3>
                    {% if item.private %}
                        <h6>Private</h6>
                    {% endif %}
                    <small class="footer">Submitted by {{ item.user.username }}.</small>
                </div>
                <br>
            {% endfor %}
        </div>
    </div>
{% endblock content %}
