{% extends 'base.html' %}

{% block content %}
    <div class="main">
        <div class="center">
            <small>{{ item.sport }}, {{ item.category }}</small>
            <h2>{{ item.name }}</h2>
            <br>
            {% if item.private %}
                <h6>Private</h6>
            {% endif %}
            <p>{{ item.description }}</p>
            <small class="footer">Submitted by {{ item.user.username }}.</small>
        </div>
        <br>
        <div class="center-small">
            <ul>
                <li><a href="{{ url_for('edit_item', item_name=item.name ) }}">Edit Item</a></li>
                <li><a href="#" class="delete">Delete Item</a></li>
            </ul>
        </div>
    </div>
{% endblock content %}
