    <h2>Links</h2>
    <ul>
        <li><a href="{{ url_for('main.home') }}">Home</a></li>
        <li><a href="{{ url_for('main.all_items') }}">All Items</a></li>
        <li><a href="#">My Items</a></li>
    </ul>
    <br>
    <br>
    <h2>Sports</h2>
    <ul>
        <li><a href="{{ url_for('main.sport', sport='Baseball') }}">Baseball</a></li>
        <li><a href="{{ url_for('main.sport', sport='Basketball') }}">Basketball</a></li>
        <li><a href="{{ url_for('main.sport', sport='Bowling') }}">Bowling</a></li>
        <li><a href="{{ url_for('main.sport', sport='Boxing') }}">Boxing</a></li>
        <li><a href="{{ url_for('main.sport', sport='Football') }}">Football</a></li>
        <li><a href="{{ url_for('main.sport', sport='Golf') }}">Golf</a></li>
        <li><a href="{{ url_for('main.sport', sport='Hockey') }}">Hockey</a></li>
        <li><a href="{{ url_for('main.sport', sport='Soccer') }}">Soccer</a></li>
        <li><a href="{{ url_for('main.sport', sport='Tennis') }}">Tennis</a></li>
        <li><a href="{{ url_for('main.sport', sport='Other') }}">Other</a></li>
    </ul>
