    <h2>Links</h2>
    <ul>
        <li><a href="{{ url_for('main.home') }}">Home</a></li>
        <li><a href="{{ url_for('main.all_items') }}">All Items</a></li>
        {% if current_user.is_authenticated %}
            <li><a href="{{ url_for('main.my_items') }}">My Items</a></li>
        {% endif %}
    </ul>
    <br>
    <br>
    <h2>Sports</h2>
    <ul>
        <li><a href="{{ url_for('main.sport', sport='Baseball') }}">Baseball</a></li>
        <li><a href="{{ url_for('main.sport', sport='Basketball') }}">Basketball</a></li>
        <li><a href="{{ url_for('main.sport', sport='Bowling') }}">Bowling</a></li>
        <li><a href="{{ url_for('main.sport', sport='Boxing') }}">Boxing</a></li>
        <li><a href="{{ url_for('main.sport', sport='Football') }}">Football</a></li>
        <li><a href="{{ url_for('main.sport', sport='Golf') }}">Golf</a></li>
        <li><a href="{{ url_for('main.sport', sport='Hockey') }}">Hockey</a></li>
        <li><a href="{{ url_for('main.sport', sport='Soccer') }}">Soccer</a></li>
        <li><a href="{{ url_for('main.sport', sport='Tennis') }}">Tennis</a></li>
        <li><a href="{{ url_for('main.sport', sport='Other') }}">Other</a></li>
    </ul>
    <br>
    <br>
    <h2>Categories</h2>
    <ul>
        <li><a href="{{ url_for('main.category', category='Accessories') }}">Accessories</a></li>
        <li><a href="{{ url_for('main.category', category='Apparel') }}">Apparel</a></li>
        <li><a href="{{ url_for('main.category', category='Equipment') }}">Equipment</a></li>
        <li><a href="{{ url_for('main.category', category='Fan Gear') }}">Fan Gear</a></li>
    </ul>
