<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Item Catalog</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <nav>
            <div class="nav-l">
                <a href="{{ url_for('home') }}">Item Catalog</a>
            </div>
            <div class="nav-r">
                <ul>
                    <li><a href="{{ url_for('new_item') }}">New Item</a></li>
                    <li><a href="#">Log Out</a></li>
                </ul>
            </div>
        </nav>
        {% block content %}
        {% endblock content %}
    </body>
</html>
